* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    font-size: 18px;

}

.flex {
    display: flex;
}



/* body */
.container {
    padding: 0 100px;
    flex-grow: 1;
    align-items: stretch;

}

.column {
    flex-direction: column;
}


/* header */


.header {
    background-color: #3161e0;
}

/* nav */
.nav {
    justify-content: space-between;
}

.menu {
    flex-direction: row;


}



/* presentazione */
.presentation {
    text-align: center;
    padding: 40px 100px;
}

/* sezioni */

.section {
    background-color: #ffffff;
    flex-basis: 400px;
}

.big-img {
    justify-self: flex-start;
}

.img-left {
    background-color: #ffffff;

}

.img-right {
    background-color: #f6f6f6;
}

.description {}


.section4 {
    text-align: center;
}

/* footer */
.footer {
    justify-content: space-around;
    background-color: #23272a;
    color: #8fa1e1;
}

.register {
    justify-content: space-between;
}